<a href="https://colab.research.google.com/github/heywassup7/Git-Tutorial/blob/master/%EC%A3%BC%EC%8B%9D%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%85%8B%EC%A0%95%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install dart-fss

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dart-fss
  Downloading dart_fss-0.4.4-py3-none-any.whl (141 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 141.2/141.2 kB 2.9 MB/s eta 0:00:00
Collecting xmltodict (from dart-fss)
  Downloading xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from dart-fss) (2.27.1)
Collecting arelle-release (from dart-fss)
  Downloading arelle_release-2.10.3-py3-none-any.whl (8.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.0/8.0 MB 71.1 MB/s eta 0:00:00
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from dart-fss) (1.22.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from dart-fss) (1.5.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from dart-fss) (4.65.0)
Collecting halo (from dart-fss)
  Downloading halo-0.0.31.tar.gz (11 kB)
  Preparing metadata (setup.py) ... done
Collecting fake-useragent>=1.0 (from dart-fss)
  Downloading fake_useragent-1.1.3-py3-none-any.whl (50 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 50.5/50.5 kB 6.7 MB/s eta 0:00:00
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from dart-fss) (4.11.2)
Requirement already satisfied: appdirs in /usr/local/lib/python3.10/dist-packages (from dart-fss) (1.4.4)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from arelle-release->dart-fss) (2022.12.7)
Collecting isodate==0.* (from arelle-release->dart-fss)
  Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.7/41.7 kB 4.7 MB/s eta 0:00:00
Requirement already satisfied: lxml==4.* in /usr/local/lib/python3.10/dist-packages (from arelle-release->dart-fss) (4.9.2)
Requirement already satisfied: openpyxl==3.* in /usr/local/lib/python3.10/dist-packages (from arelle-release->dart-fss) (3.0.10)
Requirement already satisfied: pyparsing==3.* in /usr/local/lib/python3.10/dist-packages (from arelle-release->dart-fss) (3.0.9)
Requirement already satisfied: regex in /usr/local/lib/python3.10/dist-packages (from arelle-release->dart-fss) (2022.10.31)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from isodate==0.*->arelle-release->dart-fss) (1.16.0)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl==3.*->arelle-release->dart-fss) (1.1.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->dart-fss) (2.4.1)
Collecting log_symbols>=0.0.14 (from halo->dart-fss)
  Downloading log_symbols-0.0.14-py3-none-any.whl (3.1 kB)
Collecting spinners>=0.0.24 (from halo->dart-fss)
  Downloading spinners-0.0.24-py3-none-any.whl (5.5 kB)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from halo->dart-fss) (2.3.0)
Collecting colorama>=0.3.9 (from halo->dart-fss)
  Downloading colorama-0.4.6-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->dart-fss) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->dart-fss) (2022.7.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->dart-fss) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->dart-fss) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->dart-fss) (3.4)
Building wheels for collected packages: halo
  Building wheel for halo (setup.py) ... done
  Created wheel for halo: filename=halo-0.0.31-py3-none-any.whl size=11241 sha256=f3df7ba9560dff9c5ba6fe61acb7210656759b1a550acd1409a7c4a2aa1e1e56
  Stored in directory: /root/.cache/pip/wheels/5a/d9/8a/b4f14c44aba7c164d4379eca6f1dde59360050406b1edaec24
Successfully built halo
Installing collected packages: spinners, fake-useragent, xmltodict, isodate, colorama, log_symbols, arelle-release, halo, dart-fss
Successfully installed arelle-release-2.10.3 colorama-0.4.6 dart-fss-0.4.4 fake-useragent-1.1.3 halo-0.0.31 isodate-0.6.1 log_symbols-0.0.14 spinners-0.0.24 xmltodict-0.13.0

In [2]:
# 개발 가이드 https://opendart.fss.or.kr/guide/main.do?apiGrpCd=DS001
# 키 ef1bb5ab681bc62b16ac450a6fc77cad65cd61a6
# 개발 가이드 더 상세 https://dart-fss.readthedocs.io/en/latest/dart_fs.html

import dart_fss as dart

# Open DART API KEY 설정
api_key='	4563988d3519220f5a4ca932fedbf8806bb02cdf'
dart.set_api_key(api_key=api_key)

# DART 에 공시된 회사 리스트 불러오기
corp_list = dart.get_corp_list()

# 삼성전자 검색
samsung = corp_list.find_by_corp_name('삼성전자', exactly=True)[0]

# 2022년부터 연간 연결재무제표 불러오기
fs = samsung.extract_fs(bgn_de='20130101')

# 재무제표 검색 결과를 엑셀파일로 저장 ( 기본저장위치: 실행폴더/fsdata )
# fs.save()

Output()

Output()

Output()

Annual reports:   0%|          | 0/11 [00:00<?, ?report/s]

In [3]:
bs_df = fs['bs']
cis_df = fs['cis']
is_df = fs['is']
cf_df = fs['cf']

In [4]:
#droplevel로 2중 column 중 하나 제거 (level = 1 은 두번째 column 제거를 의미)
imsi_df = bs_df.iloc[[43,51,52,47],:].droplevel(axis=1,level=1)
imsi_df

,"[D210000] Statement of financial position, current/non-current - Consolidated financial statements (Unit: KRW)","[D210000] Statement of financial position, current/non-current - Consolidated financial statements (Unit: KRW)","[D210000] Statement of financial position, current/non-current - Consolidated financial statements (Unit: KRW)","[D210000] Statement of financial position, current/non-current - Consolidated financial statements (Unit: KRW)","[D210000] Statement of financial position, current/non-current - Consolidated financial statements (Unit: KRW)","[D210000] Statement of financial position, current/non-current - Consolidated financial statements (Unit: KRW)","[D210000] Statement of financial position, current/non-current - Consolidated financial statements (Unit: KRW)","[D210000] Statement of financial position, current/non-current - Consolidated financial statements (Unit: KRW)",20221231,20211231,...,20191231,20181231,20171231,20161231,20151231,20141231,20131231,20121231,20111231,20101231
43,ifrs-full_IssuedCapital,자본금,Issued capital,재무상태표 [abstract],자본 [abstract],지배기업 소유주지분,자본금,None,"897,514,000,000.0","897,514,000,000.0",...,"897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0"
51,ifrs-full_Equity,자본총계,Total equity,재무상태표 [abstract],자본 [abstract],자본총계,None,None,"354,749,604,000,000.0","304,899,931,000,000.0",...,"262,880,421,000,000.0","247,753,177,000,000.0","214,491,428,000,000.0","192,963,033,000,000.0","179,059,805,000,000.0","168,088,188,000,000.0","150,016,010,000,000.0","121,480,206,000,000.0","101,313,630,000,000.0","89,177,636,000,000.0"
52,ifrs-full_EquityAndLiabilities,부채와자본총계,Total liabilities and equity,재무상태표 [abstract],부채와자본총계,None,None,None,"448,424,507,000,000.0","426,621,158,000,000.0",...,"352,564,497,000,000.0","339,357,244,000,000.0","301,752,090,000,000.0","262,174,324,000,000.0","242,179,521,000,000.0","230,422,958,000,000.0","214,075,018,000,000.0","181,071,570,000,000.0","155,800,263,000,000.0","134,308,803,000,000.0"
47,ifrs-full_RetainedEarnings,이익잉여금(결손금),Retained earnings,재무상태표 [abstract],자본 [abstract],지배기업 소유주지분,이익잉여금(결손금),None,"337,946,407,000,000.0","293,064,763,000,000.0",...,"254,582,894,000,000.0","242,698,956,000,000.0","215,811,200,000,000.0","193,086,317,000,000.0","185,132,014,000,000.0","169,529,604,000,000.0","148,600,282,000,000.0","119,985,689,000,000.0","97,622,872,000,000.0","85,071,444,000,000.0"

In [5]:
#bs_df의 column 명 바꾸고 필요한 column만 추출하기 - 자본금, 자본총계, 부채와자본금

# 전체 열 이름 입력하기

# 선택하여 열 이름 변경하기
imsi2_df=imsi_df.rename(columns={'[D210000] Statement of financial position, current/non-current - Consolidated financial statements (Unit: KRW)':'이름'})
# bs
final_bs_df = imsi2_df.iloc[:,[1,8,9,10,11,12,13,14,15,16,17]]
final_bs_df

,이름,20221231,20211231,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231
43,자본금,"897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0"
51,자본총계,"354,749,604,000,000.0","304,899,931,000,000.0","275,948,016,000,000.0","262,880,421,000,000.0","247,753,177,000,000.0","214,491,428,000,000.0","192,963,033,000,000.0","179,059,805,000,000.0","168,088,188,000,000.0","150,016,010,000,000.0"
52,부채와자본총계,"448,424,507,000,000.0","426,621,158,000,000.0","378,235,718,000,000.0","352,564,497,000,000.0","339,357,244,000,000.0","301,752,090,000,000.0","262,174,324,000,000.0","242,179,521,000,000.0","230,422,958,000,000.0","214,075,018,000,000.0"
47,이익잉여금(결손금),"337,946,407,000,000.0","293,064,763,000,000.0","271,068,211,000,000.0","254,582,894,000,000.0","242,698,956,000,000.0","215,811,200,000,000.0","193,086,317,000,000.0","185,132,014,000,000.0","169,529,604,000,000.0","148,600,282,000,000.0"

In [6]:
#is_df의 column 명 바꾸고 필요한 column만 추출하기 - 수익(매출액)과 영업이익 추출

imsi_df = is_df.iloc[[0,4,16],:].droplevel(axis=1,level=1)
imsi2_df=imsi_df.rename(columns={'[D310000] Income statement, by function of expense - Consolidated financial statements (Unit: KRW)':'이름'})
final_is_df = imsi2_df.iloc[:,[1,6,7,8,9,10,11,12,13,14,15]]
# is
final_is_df

,이름,20220101-20221231,20210101-20211231,20200101-20201231,20190101-20191231,20180101-20181231,20170101-20171231,20160101-20161231,20150101-20151231,20140101-20141231,20130101-20131231
0,수익(매출액),"302,231,360,000,000.0","279,604,799,000,000.0","236,806,988,000,000.0","230,400,881,000,000.0","243,771,415,000,000.0","239,575,376,000,000.0","201,866,745,000,000.0","200,653,482,000,000.0","206,205,987,000,000.0","228,692,667,000,000.0"
4,영업이익,"43,376,630,000,000.0","51,633,856,000,000.0","35,993,876,000,000.0","27,768,509,000,000.0","58,886,669,000,000.0","53,645,038,000,000.0","29,240,672,000,000.0","26,413,442,000,000.0","25,025,071,000,000.0","36,785,013,000,000.0"
16,기본주당이익(손실),"8,057.0","5,777.0","3,841.0","3,166.0","6,461.0","5,997.0","3,159.0","126,305.0","153,105.0","197,841.0"

In [7]:
#cis_df의 column 명 바꾸고 필요한 column만 추출하기 - 당기순이익(손실)

imsi_df = cis_df.iloc[[0],:].droplevel(axis=1,level=1)
imsi2_df=imsi_df.rename(columns={'[D410000] Statement of comprehensive income - Consolidated financial statements (Unit: KRW)':'이름'})
final_cis_df = imsi2_df.iloc[:,[1,7,8,9,10,11,12,13,14,15,16]]
final_cis_df

,이름,20220101-20221231,20210101-20211231,20200101-20201231,20190101-20191231,20180101-20181231,20170101-20171231,20160101-20161231,20150101-20151231,20140101-20141231,20130101-20131231
0,당기순이익(손실),"55,654,077,000,000.0","39,907,450,000,000.0","26,407,832,000,000.0","21,738,865,000,000.0","44,344,857,000,000.0","42,186,747,000,000.0","22,726,092,000,000.0","19,060,144,000,000.0","23,394,358,000,000.0","30,474,764,000,000.0"

In [8]:
#is, cis의 데이터 column bs 기준으로 단순 날짜로 통일
index = ['이름','20221231','20211231','20201231','20191231','20181231','20171231','20161231','20151231','20141231','20131231']
final_cis_df.columns = index
final_cis_df

,이름,20221231,20211231,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231
0,당기순이익(손실),"55,654,077,000,000.0","39,907,450,000,000.0","26,407,832,000,000.0","21,738,865,000,000.0","44,344,857,000,000.0","42,186,747,000,000.0","22,726,092,000,000.0","19,060,144,000,000.0","23,394,358,000,000.0","30,474,764,000,000.0"

In [9]:
final_is_df.columns = index
final_is_df

,이름,20221231,20211231,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231
0,수익(매출액),"302,231,360,000,000.0","279,604,799,000,000.0","236,806,988,000,000.0","230,400,881,000,000.0","243,771,415,000,000.0","239,575,376,000,000.0","201,866,745,000,000.0","200,653,482,000,000.0","206,205,987,000,000.0","228,692,667,000,000.0"
4,영업이익,"43,376,630,000,000.0","51,633,856,000,000.0","35,993,876,000,000.0","27,768,509,000,000.0","58,886,669,000,000.0","53,645,038,000,000.0","29,240,672,000,000.0","26,413,442,000,000.0","25,025,071,000,000.0","36,785,013,000,000.0"
16,기본주당이익(손실),"8,057.0","5,777.0","3,841.0","3,166.0","6,461.0","5,997.0","3,159.0","126,305.0","153,105.0","197,841.0"

In [10]:
#bs,is,cis 한 final_df로 데이터 합치기

import pandas as pd
b_df = pd.concat([final_bs_df,final_is_df])
c_df = pd.concat([b_df,final_cis_df])
final_df = c_df
final_df

,이름,20221231,20211231,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231
43,자본금,"897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0"
51,자본총계,"354,749,604,000,000.0","304,899,931,000,000.0","275,948,016,000,000.0","262,880,421,000,000.0","247,753,177,000,000.0","214,491,428,000,000.0","192,963,033,000,000.0","179,059,805,000,000.0","168,088,188,000,000.0","150,016,010,000,000.0"
52,부채와자본총계,"448,424,507,000,000.0","426,621,158,000,000.0","378,235,718,000,000.0","352,564,497,000,000.0","339,357,244,000,000.0","301,752,090,000,000.0","262,174,324,000,000.0","242,179,521,000,000.0","230,422,958,000,000.0","214,075,018,000,000.0"
47,이익잉여금(결손금),"337,946,407,000,000.0","293,064,763,000,000.0","271,068,211,000,000.0","254,582,894,000,000.0","242,698,956,000,000.0","215,811,200,000,000.0","193,086,317,000,000.0","185,132,014,000,000.0","169,529,604,000,000.0","148,600,282,000,000.0"
0,수익(매출액),"302,231,360,000,000.0","279,604,799,000,000.0","236,806,988,000,000.0","230,400,881,000,000.0","243,771,415,000,000.0","239,575,376,000,000.0","201,866,745,000,000.0","200,653,482,000,000.0","206,205,987,000,000.0","228,692,667,000,000.0"
4,영업이익,"43,376,630,000,000.0","51,633,856,000,000.0","35,993,876,000,000.0","27,768,509,000,000.0","58,886,669,000,000.0","53,645,038,000,000.0","29,240,672,000,000.0","26,413,442,000,000.0","25,025,071,000,000.0","36,785,013,000,000.0"
16,기본주당이익(손실),"8,057.0","5,777.0","3,841.0","3,166.0","6,461.0","5,997.0","3,159.0","126,305.0","153,105.0","197,841.0"
0,당기순이익(손실),"55,654,077,000,000.0","39,907,450,000,000.0","26,407,832,000,000.0","21,738,865,000,000.0","44,344,857,000,000.0","42,186,747,000,000.0","22,726,092,000,000.0","19,060,144,000,000.0","23,394,358,000,000.0","30,474,764,000,000.0"

In [11]:
#final_df의 인덱스를 이름으로 수정

final_df=final_df.reset_index()
final_df=final_df.iloc[:,1:]
final_df

final_df=final_df.set_index('이름')
final_df

,20221231,20211231,20201231,20191231,20181231,20171231,20161231,20151231,20141231,20131231
이름,,,,,,,,,,
자본금,"897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0","897,514,000,000.0"
자본총계,"354,749,604,000,000.0","304,899,931,000,000.0","275,948,016,000,000.0","262,880,421,000,000.0","247,753,177,000,000.0","214,491,428,000,000.0","192,963,033,000,000.0","179,059,805,000,000.0","168,088,188,000,000.0","150,016,010,000,000.0"
부채와자본총계,"448,424,507,000,000.0","426,621,158,000,000.0","378,235,718,000,000.0","352,564,497,000,000.0","339,357,244,000,000.0","301,752,090,000,000.0","262,174,324,000,000.0","242,179,521,000,000.0","230,422,958,000,000.0","214,075,018,000,000.0"
이익잉여금(결손금),"337,946,407,000,000.0","293,064,763,000,000.0","271,068,211,000,000.0","254,582,894,000,000.0","242,698,956,000,000.0","215,811,200,000,000.0","193,086,317,000,000.0","185,132,014,000,000.0","169,529,604,000,000.0","148,600,282,000,000.0"
수익(매출액),"302,231,360,000,000.0","279,604,799,000,000.0","236,806,988,000,000.0","230,400,881,000,000.0","243,771,415,000,000.0","239,575,376,000,000.0","201,866,745,000,000.0","200,653,482,000,000.0","206,205,987,000,000.0","228,692,667,000,000.0"
영업이익,"43,376,630,000,000.0","51,633,856,000,000.0","35,993,876,000,000.0","27,768,509,000,000.0","58,886,669,000,000.0","53,645,038,000,000.0","29,240,672,000,000.0","26,413,442,000,000.0","25,025,071,000,000.0","36,785,013,000,000.0"
기본주당이익(손실),"8,057.0","5,777.0","3,841.0","3,166.0","6,461.0","5,997.0","3,159.0","126,305.0","153,105.0","197,841.0"
당기순이익(손실),"55,654,077,000,000.0","39,907,450,000,000.0","26,407,832,000,000.0","21,738,865,000,000.0","44,344,857,000,000.0","42,186,747,000,000.0","22,726,092,000,000.0","19,060,144,000,000.0","23,394,358,000,000.0","30,474,764,000,000.0"

In [12]:
#수집한 데이터로 부채비율, ROE, 영업이익률 계산하기
#부채비율 = 부채 총계/ 자본 총계 = (부채와자본총계-자본총계) / 자본총계
#roe = 당기순이익/자기자본(자본금) * 100 = 당기순이익/(자본금+이익잉여금(결손금)) * 100
#영업이익률 = 영업이익/수익(매출액) * 100
#eps = 기본주당수익

In [13]:
roe_df = final_df.loc['당기순이익(손실)']/(final_df.loc['자본금']+final_df.loc['이익잉여금(결손금)']) * 100
roe_df.name='ROE'
roe_df

20221231   16.424693952234133
20211231   13.575704477210863
20201231    9.709985329952882
20191231    8.509014515116947
20181231   18.204228082615483
20171231   19.467028446304194
20161231   11.715456841348804
20151231   10.245762704940047
20141231   13.726898790836797
20131231   20.384758046867795
Name: ROE, dtype: float64

In [14]:
yu_df = final_df.loc['영업이익']/final_df.loc['수익(매출액)'] *100
yu_df.name = '영업이익률'
yu_df

20221231   14.352127456263968
20211231   18.466727389754137
20201231   15.199668009797076
20191231   12.052258168231571
20181231     24.1565111315451
20171231   22.391716083542743
20161231   14.485135726540793
20151231   13.163709763083006
20141231   12.135957526781219
20131231   16.084911458923166
Name: 영업이익률, dtype: float64

In [15]:
# 부채비율 = 부채 총계/ 자본 총계 = (부채와자본총계-자본총계) / 자본총계
# 값 정확
bc_df = (final_df.loc['부채와자본총계']-final_df.loc['자본총계'])/final_df.loc['자본총계'] * 100
bc_df.name = '부채비율'
bc_df

20221231   26.405921794911997
20211231   39.921697128885214
20201231    37.06774322305691
20191231    34.11592071362362
20181231    36.97392223551587
20171231    40.68258709154568
20161231   35.867642586235675
20151231    35.25063371983455
20141231    37.08456301521913
20131231    42.70144766548584
Name: 부채비율, dtype: float64

In [16]:
# eps = 기본주당이익
eps_df = final_df.loc['기본주당이익(손실)']
eps_df.name = 'EPS'
eps_df

20221231     8,057.0
20211231     5,777.0
20201231     3,841.0
20191231     3,166.0
20181231     6,461.0
20171231     5,997.0
20161231     3,159.0
20151231   126,305.0
20141231   153,105.0
20131231   197,841.0
Name: EPS, dtype: float64

In [17]:
# 순이익률 = 당기순이익(손실)/수익(매출액)
ros_df = final_df.loc['당기순이익(손실)']/final_df.loc['수익(매출액)'] * 100
ros_df.name = "순이익률"
ros_df

20221231    18.41439518387503
20211231   14.272805811176367
20201231   11.151626995061479
20191231    9.435235189052944
20181231   18.191163635818416
20171231   17.608966206944405
20161231   11.257967229817869
20151231    9.499034758838624
20141231   11.345140041932925
20131231   13.325641088439447
Name: 순이익률, dtype: float64

In [18]:
# BPS = 자본총계 * 기본주당이익(손실) / 당기순이익(손실)
bps_df = final_df.loc['자본총계'] *final_df.loc['기본주당이익(손실)']/final_df.loc['당기순이익(손실)']
bps_df.name = "BPS"
bps_df

20221231     51,356.84056763712
20211231     44,137.29520144735
20201231    40,136.438669255396
20191231     38,285.32045651878
20181231    36,097.382760688575
20171231     30,490.73903982215
20161231    26,822.483216516066
20151231   1,186,567.5658339728
20141231   1,100,057.6302944496
20131231     973,898.1878386326
Name: BPS, dtype: float64

In [91]:
real_final_df=pd.concat([roe_df,yu_df,bc_df,eps_df,ros_df, bps_df],axis=1)
real_final_df

,ROE,영업이익률,부채비율,EPS,순이익률,BPS
20221231,16.424693952234133,14.352127456263968,26.405921794911997,"8,057.0",18.41439518387503,"51,356.84056763712"
20211231,13.575704477210863,18.466727389754137,39.921697128885214,"5,777.0",14.272805811176367,"44,137.29520144735"
20201231,9.709985329952882,15.199668009797076,37.06774322305691,"3,841.0",11.151626995061479,"40,136.438669255396"
20191231,8.509014515116947,12.052258168231571,34.11592071362362,"3,166.0",9.435235189052944,"38,285.32045651878"
20181231,18.204228082615483,24.1565111315451,36.97392223551587,"6,461.0",18.191163635818416,"36,097.382760688575"
20171231,19.467028446304194,22.391716083542743,40.68258709154568,"5,997.0",17.608966206944405,"30,490.73903982215"
20161231,11.715456841348804,14.485135726540793,35.867642586235675,"3,159.0",11.257967229817869,"26,822.483216516066"
20151231,10.245762704940047,13.163709763083006,35.25063371983455,"126,305.0",9.499034758838624,"1,186,567.5658339728"
20141231,13.726898790836797,12.135957526781219,37.08456301521913,"153,105.0",11.345140041932925,"1,100,057.6302944496"
20131231,20.384758046867795,16.084911458923166,42.70144766548584,"197,841.0",13.325641088439447,"973,898.1878386326"

In [92]:
# 주가는 yfinance에서 가져 올 예정
# per = 주가/기본주당이익(손실)
# pbr = (주가 * 당기순이익(손실))/ (자본총계*기본주당이익(손실))

## **여기서부터 확인!**

In [93]:
import yfinance as yf
import pandas as pd

# 삼성전자 종목 코드
symbol = "005930.KS"

# Ticker 객체 생성
ticker = yf.Ticker(symbol)

# 날짜 범위 설정
start_date = "2013-01-01"
end_date = pd.Timestamp.now().strftime("%Y-%m-%d")

# 날짜 범위 내 주가 데이터 가져오기
price_data = yf.download(symbol, start=start_date, end=end_date, progress=False)

# 종가 데이터 추출
close_data = price_data['Close']

# index를 해당 일자의 숫자 8자리로 변경
close_data.index = close_data.index.strftime("%Y%m%d")

# 인덱스를 DatetimeIndex로 변경
close_data.index = pd.to_datetime(close_data.index)

# 년도별 평균 계산
#close_data = close_data.resample('Y').mean()

# 12월 마지막날의 데이터 추출 (찾아보니 모든 년도에 12월 31일 데이터가 없음... ㅠㅠ)
dec_data = pd.DataFrame()

for year in range(2013, pd.Timestamp.now().year + 1):
    year_data = close_data.loc[close_data.index.year == year]
    dec_data = pd.concat([dec_data, year_data[year_data.index.month == 12].tail(1)])


# index를 해당 년도의 12월31일 숫자 8자리로 변경
#close_data.index = close_data.index.strftime("%Y1231")
dec_data.index = dec_data.index.strftime("%Y1231")

# 내림차순 정렬
#close_data = close_data.sort_index(ascending=False)
dec_data = dec_data.sort_index(ascending=False)

# 결과 출력
#close_data
dec_data

                0
20221231 55,300.0
20211231 78,300.0
20201231 81,000.0
20191231 55,800.0
20181231 38,700.0
20171231 50,960.0
20161231 36,040.0
20151231 25,200.0
20141231 26,540.0
20131231 27,440.0

In [94]:
#close_data.name = "종가"
#close_data

dec_data.name = "종가"
dec_data.columns = ["종가"]
dec_data

               종가
20221231 55,300.0
20211231 78,300.0
20201231 81,000.0
20191231 55,800.0
20181231 38,700.0
20171231 50,960.0
20161231 36,040.0
20151231 25,200.0
20141231 26,540.0
20131231 27,440.0

In [95]:
#real_final_df=pd.concat([real_final_df, close_data], axis=1)
real_final_df=pd.concat([real_final_df, dec_data], axis=1)

real_final_df

,ROE,영업이익률,부채비율,EPS,순이익률,BPS,종가
20221231,16.424693952234133,14.352127456263968,26.405921794911997,"8,057.0",18.41439518387503,"51,356.84056763712","55,300.0"
20211231,13.575704477210863,18.466727389754137,39.921697128885214,"5,777.0",14.272805811176367,"44,137.29520144735","78,300.0"
20201231,9.709985329952882,15.199668009797076,37.06774322305691,"3,841.0",11.151626995061479,"40,136.438669255396","81,000.0"
20191231,8.509014515116947,12.052258168231571,34.11592071362362,"3,166.0",9.435235189052944,"38,285.32045651878","55,800.0"
20181231,18.204228082615483,24.1565111315451,36.97392223551587,"6,461.0",18.191163635818416,"36,097.382760688575","38,700.0"
20171231,19.467028446304194,22.391716083542743,40.68258709154568,"5,997.0",17.608966206944405,"30,490.73903982215","50,960.0"
20161231,11.715456841348804,14.485135726540793,35.867642586235675,"3,159.0",11.257967229817869,"26,822.483216516066","36,040.0"
20151231,10.245762704940047,13.163709763083006,35.25063371983455,"126,305.0",9.499034758838624,"1,186,567.5658339728","25,200.0"
20141231,13.726898790836797,12.135957526781219,37.08456301521913,"153,105.0",11.345140041932925,"1,100,057.6302944496","26,540.0"
20131231,20.384758046867795,16.084911458923166,42.70144766548584,"197,841.0",13.325641088439447,"973,898.1878386326","27,440.0"

In [ ]:
#23년 데이터는 빼고 계산..
#real_final_df = real_final_df.drop('20231231')

In [96]:
# per

per_df = real_final_df['종가'] / real_final_df['EPS']
per_df.name = "PER"
per_df

20221231      6.86359687228497
20211231    13.553747619871906
20201231    21.088258266076544
20191231     17.62476310802274
20181231     5.989784863024299
20171231     8.497582124395532
20161231    11.408673630895853
20151231   0.19951704208067772
20141231   0.17334508997093498
20131231   0.13869723666985104
Name: PER, dtype: float64

In [97]:
# pbr

pbr_df = real_final_df['종가'] / real_final_df['BPS']
pbr_df.name = "PBR"
pbr_df

20221231     1.0767796341982863
20211231      1.774009930663635
20201231      2.018116272534319
20191231     1.4574776790329576
20181231     1.0720998875892402
20171231     1.6713271506290537
20161231     1.3436488974223015
20151231   0.021237728660051747
20141231    0.02412600873728416
20131231   0.028175429775567664
Name: PBR, dtype: float64

In [98]:
real_final_df = pd.concat([real_final_df, per_df, pbr_df], axis=1)

real_final_df

,ROE,영업이익률,부채비율,EPS,순이익률,BPS,종가,PER,PBR
20221231,16.424693952234133,14.352127456263968,26.405921794911997,"8,057.0",18.41439518387503,"51,356.84056763712","55,300.0",6.86359687228497,1.0767796341982863
20211231,13.575704477210863,18.466727389754137,39.921697128885214,"5,777.0",14.272805811176367,"44,137.29520144735","78,300.0",13.553747619871906,1.774009930663635
20201231,9.709985329952882,15.199668009797076,37.06774322305691,"3,841.0",11.151626995061479,"40,136.438669255396","81,000.0",21.088258266076544,2.018116272534319
20191231,8.509014515116947,12.052258168231571,34.11592071362362,"3,166.0",9.435235189052944,"38,285.32045651878","55,800.0",17.62476310802274,1.4574776790329576
20181231,18.204228082615483,24.1565111315451,36.97392223551587,"6,461.0",18.191163635818416,"36,097.382760688575","38,700.0",5.989784863024299,1.0720998875892402
20171231,19.467028446304194,22.391716083542743,40.68258709154568,"5,997.0",17.608966206944405,"30,490.73903982215","50,960.0",8.497582124395532,1.6713271506290537
20161231,11.715456841348804,14.485135726540793,35.867642586235675,"3,159.0",11.257967229817869,"26,822.483216516066","36,040.0",11.408673630895853,1.3436488974223015
20151231,10.245762704940047,13.163709763083006,35.25063371983455,"126,305.0",9.499034758838624,"1,186,567.5658339728","25,200.0",0.19951704208067772,0.021237728660051747
20141231,13.726898790836797,12.135957526781219,37.08456301521913,"153,105.0",11.345140041932925,"1,100,057.6302944496","26,540.0",0.17334508997093498,0.02412600873728416
20131231,20.384758046867795,16.084911458923166,42.70144766548584,"197,841.0",13.325641088439447,"973,898.1878386326","27,440.0",0.13869723666985104,0.028175429775567664